*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
width: 5vw;
margin: 2em;

}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner img{
    border-radius: 1em;
    
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

}